.card__answer-button--correct {
  border: greenyellow solid 1px;
  color: greenyellow;
}

.card__answer-button--incorrect {
  border: red solid 1px;
  color: red;
}

.answer__card {
  border: 2px solid #49a078;
  border-radius: 10px;
  margin: 50px 10px;
  width: 100vl;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.answer__card-title {
  padding: 15px 20px;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  font-weight: 500;
}

.answer__card-text {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  margin: 20px;
  padding: 20px 40px;
  color: #dce1de;
  background: linear-gradient(40deg, #1f2421, #216869, #49a078, #9cc5a1);
  border: #49a078 solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.answer__hidden {
  display: none;
}
