* {
  box-sizing: border-box;
}

body {
  background-color: #e9c9bd;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 3rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* #FF9626 gelb orange  */
/* #EB8F49 orange braun  */
/* #FAA170 rosa braun */
/* #E9C9BD hell lila braun */
/* #FF6947 rot orange */
